<!--
 * @Author: your name
 * @Date: 2020-08-01 12:25:17
 * @LastEditTime: 2020-08-01 19:11:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \electron-editor\src\index.html
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easy💖editor</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <!-- <textarea name="" id="textarea"></textarea> -->
    <button id="btn">点击发送通知</button>
    <script src="../render-process/ipcRender.js"></script>
  </body>
</html>
