<!--
 * @Author: your name
 * @Date: 2020-08-01 12:25:17
 * @LastEditTime: 2020-08-01 19:11:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \electron-editor\src\index.html
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Easy💖editor</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
  </head>
  <body>
    <section class="wrap_container">
      <p class="">请输入你的花名</p>
      <input type="text" id="ipt">
      <p>例如：ceshi</p>
    </section>
    <script>
      (function(){
        
      })()
    </script>
  </body>
</html>
